.venv
.idea

/test/NextUpdate
/test/testmodule.py
/test/play.py
/test/sqltest.py
/test
.qodo
/Report

# Python Packaging
dist/
build/
*.egg-info/
__pycache__/
*.py[cod]
.coverage
*.coverage
*.db
*.sqlite
*.sqlite3

__pycache__
.jbeval
Design
design
tweakio_browser_playwright
.vscode
tests/learn

docs/smoke_test.py
docs/test.py